@model User
@{
    Layout = "_Layout";
}
<style>
    body {
        background-color: #f3f2ef;
    }

    .card {
        width: 600px !important;
        margin-top: 300px;
    }
</style>

    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Kayıt Ol</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="UserName" placeholder="Kullanıcı Adı" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Mail Adresi" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" asp-for="Password" placeholder="Şifre" />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary w-100">Kayıt Ol <i class="fa-solid fa-user"></i></button>
                            </div>
                            <div class="col-6">
                                <a asp-controller="Account" asp-action="Login" class="btn btn-success w-100">Giriş Yap <i class="fa-solid fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

